/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ailb-product-gallery {
    .product-gallery {
        &__controls {
            margin-bottom: 1rem;
            padding-bottom: 1rem; 
            border-bottom: 3px dotted #e2e8f0;
        }

        &__content {
            .product-item {
                border: 1px solid #e2e8f0;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }  
        }
    }
}



