/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.product-gallery {

    &__controls {
        margin-bottom: 1rem;
        padding-bottom: 1rem; 
        border-bottom: 3px dotted #EAEAEA;
    }

    .product-item img {
        width: 100%;
        height: auto;
    }
}



